@use '../../themes/bish/sass/css/font';

.post {
    background-color: var(--light-accent-color);
    
    border-radius: 20px;
    border-color: var(--text-color);
    border-width: 2px;
    border-style: solid;

    h1, h2, h3, h4, h5, h6 {
        border: none;
        padding: 0;
        margin-left: 40px;

        align-content: center;

        color: var(--accent-color);
    }

    strong {
        filter: brightness(50%) saturate(200%) contrast(200%);
    }
    
    .gallery {
        margin: 20px;

        padding: 20px;

        background-color: color-mix(in srgb, var(--text-color) 10%, transparent);
        border-radius: 20px;
        border-color: var(--text-color);
        border-width: 2px;
        border-style: solid;
    }

    p {
        margin: 5px 30px 0 30px;
        font-size: calc(1.25 * var(--font-size));

        @include font.coral-pixels-regular;
    }

    header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        flex-shrink: 1;

        img {
            width: 100px;
            height: 100px;
            margin: 10px;

            border-radius: 10px;
            overflow: clip;
        }

        h2 {
            border: none;
            padding: 0;
            margin-right: auto;
            margin-left: 20px;

            align-content: center;

            font-size: calc(3 * var(--font-size));

            a {
                color: var(--accent-color);
            }
        }

        h2::after {
            display: none;
        }
    }
}

.palette {
    margin: 20px;
    display: flex;

    padding: 20px;

    background-color: color-mix(in srgb, var(--text-color) 10%, transparent);
    border-radius: 20px;
    border-color: var(--text-color);
    border-width: 2px;
    border-style: solid;

    .color {
        display: inline-block;
        flex-grow: 1;
        flex-shrink: 1;
        margin: 2px;
        width: 200px;
        height: 150px;

        display: flex;
        flex-direction: column;

        border-radius: 5px;

        p {
            margin: 0;
            padding: 2px;
            line-height: 120%;
            border-radius: 5px;

            text-align: center;

            background: #00000080;
            color: var(--light-accent-color);
            @include font.ibm-plex-serif-regular;
        }

        .description {
            margin-bottom: auto;
        }
    }
}