.gallery {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

@media (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.gallery img {
    padding: 0;
    margin: 0;
    width: 100%;
}