{# 
  Images can be explicitly passed in, or derived from the colocated assets.
  Prefer using the passed in list, and fall back to the page or section assets
  where appropriate.
#}

{% set assets = [] %}
{% set descriptions = [] %}
{% set fragments = [] %}

{% if manifest %}
  {% set manifest = load_data(path=manifest, format="toml") %}
  {% set_global assets = [] %}
  {% for image in manifest.images %}
    {% set_global assets = assets | concat(with=image.url) %}
    {% set_global descriptions = descriptions | concat(with=image.description | default(value="")) %}
    {% set_global fragments = fragments | concat(with=image.fragment | default(value="")) %}
  {% endfor %}
{% elif page %}
{% set assets = page.assets %}
  {% set_global assets = [] %}
  {% for asset in page.assets %}
    {%- if asset is matching("[.](jpg|jpeg|png)$") -%}
      {% set_global assets = assets | concat(with=asset) %}
      {% set_global descriptions = descriptions | concat(with="") %}
      {% set_global fragments = fragments | concat(with="") %}
    {% endif %}
  {% endfor %}
{% elif section %}
  {% set_global assets = [] %}
  {% for asset in section.assets %}
    {%- if asset is matching("[.](jpg|jpeg|png)$") -%}
      {% set_global assets = assets | concat(with=asset) %}
      {% set_global descriptions = descriptions | concat(with="") %}
      {% set_global fragments = fragments | concat(with="") %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="gallery">
{% for i in range(end=assets | length) -%}
  {% set asset = assets[i] %}
  {% set description = descriptions[i] %}
  {% if fragments[i] != "" %}
      {% set frag = fragments[i] %}
  {% else %}
    {% set frag = "image-" ~ loop.index %}
  {% endif %}

  {%- if loop.index > 1 -%}
    {% set prev_index = loop.index - 1 %}
    {% set fragment_index = loop.index - 2 %}
    {% if fragments[fragment_index] != "" %}
      {% set prev = fragments[fragment_index] %}
    {% else %}
      {% set prev = "image-" ~ prev_index %}
    {% endif %}
  {% else %}
    {% set prev = "" %}
  {% endif %}

  {%- if loop.index < assets | length -%}
    {% set next_index = loop.index + 1 %}
    {% set fragment_index = loop.index %}
    {% if fragments[fragment_index] != "" %}
      {% set next = fragments[fragment_index] %}
    {% else %}
      {% set next = "image-" ~ next_index %}
    {% endif %}
  {% else %}
    {% set next = "" %}
  {% endif %}

  <div class="viewer" id="{{ frag }}" previous="{{ prev }}" next="{{ next }}">
    {% if prev != "" %}
      <a class="prev arrow" href="#{{ prev }}"></a>
    {% else %}
      <a class="prev"></a>
    {% endif %}

    <a class="open" href="#{{ frag }}"></a>
    <a class="close" href="#_">
      <span class="zoom material-symbols-outlined"></span>
      <img loading="lazy" src="{{ asset }}" alt="{{ description }}" />
    </a>

    {% if description != "" %}
      <p class="description">{{description}}</p>
    {% endif %}

    {% if next != "" %}
      <a class="next arrow" href="#{{ next }}"></a>
    {% else %}
      <a class="next"></a>
    {% endif %}
  </div>
{%- endfor %}
<script>
  let max_index = {{ assets | length }};
  addEventListener("keydown", (event) => {
    let fragment = window.location.hash.substring(1);
    let current_viewer = document.getElementById(fragment);
    if (current_viewer == null) {
      return;
    }
    
    if (event.key == "ArrowRight") {
      let next = current_viewer.attributes.next;
      window.location.assign("#" + current_viewer.attributes.next.value);
    } else if (event.key == "ArrowLeft") {
      window.location.assign("#" + current_viewer.attributes.previous.value);
    } else if (event.key == "Escape") {
      window.location.assign("#_");
    }
  })
</script>
</div>
