<style>
    .container {
        width: 100%;
        height: 600px;

        display: block;
        overflow: hidden;
    }
    .camera {
        transform-style: preserve-3d;
        transform-origin: 0% 150px;
        translate: 50% 50%;
        transform:
            matrix3d(
                1, 0, 0, 0,
                0, 1, 0, 0, 
                0, 0, 1, -0.002,
                0, 0, 0, 1
            );
    }

    .scene {
        transform-style: preserve-3d;

        /* 
         * from https://en.wikipedia.org/wiki/Rotation_matrix#General_3D_rotations
         * implementing the extrensic rotation matrix
         */
        --a: calc(var(--cam-pitch) * -1deg);
        --b: calc(var(--cam-yaw) * -1deg);
        --g: calc(var(--cam-roll) * 1deg);
        transform-origin: 0% 0%;
        transform:
            matrix3d(
                calc(cos(var(--b)) * cos(var(--g))), calc(cos(var(--b)) * sin(var(--g))), calc(-1 * sin(var(--b))), 0,
                calc(sin(var(--a)) * sin(var(--b)) * cos(var(--g)) - cos(var(--a)) * sin(var(--g))), calc(sin(var(--a)) * sin(var(--b)) * sin(var(--g)) + cos(var(--a)) * cos(var(--g))), calc(sin(var(--a)) * cos(var(--b))), 0,
                calc(cos(var(--a)) * sin(var(--b)) * cos(var(--g)) + sin(var(--a)) * sin(var(--g))), calc(cos(var(--a)) * sin(var(--b)) * sin(var(--g)) - sin(var(--a)) * cos(var(--g))), calc(cos(var(--a)) * cos(var(--b))), 0,
                var(--cam-x), var(--cam-y), var(--cam-z), 1
            );
    }

    @property --cam-yaw {
        syntax: "<number>";
        initial-value: 0;
        inherits: false;
    }

    @property --cam-pitch {
        syntax: "<number>";
        initial-value: 0;
        inherits: false;
    }

    @property --cam-roll {
        syntax: "<number>";
        initial-value: 0;
        inherits: false;
    }

    @keyframes spinnies {
        0% {
            --cam-yaw: 0;
        }
        25% {
            --cam-yaw: 90;
        }
        50% {
            --cam-yaw: 180;
        }
        75% {
            --cam-yaw: 270;
        }
        100% {
            --cam-yaw: 360;
        }
    }


    @keyframes uppies {
        0%, 100%{
            --cam-pitch: 0;
        }
        50% {
            --cam-pitch: 45;
        }
    }


    @keyframes rollies {
        0%, 100%{
            --cam-roll: -45;
        }
        50% {
            --cam-roll: 45;
        }
    }

    .tri {
        /* clip rectangle to just the upper-left triangle */
        clip-path: polygon(0 0, 0 100%, 100% 0);
    }

    .tri, .rect {
        /* use ab and ac vectors to determine the height and width of the containing rectangle */
        --delta-ab-x: calc(var(--b-x) - var(--a-x));
        --delta-ab-y: calc(var(--b-y) - var(--a-y));
        --delta-ab-z: calc(var(--b-z) - var(--a-z));

        --delta-ac-x: calc(var(--c-x) - var(--a-x));
        --delta-ac-y: calc(var(--c-y) - var(--a-y));
        --delta-ac-z: calc(var(--c-z) - var(--a-z));

        --hypot-ab: calc(hypot(var(--delta-ab-x), var(--delta-ab-y), var(--delta-ab-z)));
        --hypot-ac: calc(hypot(var(--delta-ac-x), var(--delta-ac-y), var(--delta-ac-z)));

        /* projection of AC into Y */
        --ac-dot-ab: calc(
            (var(--delta-ac-x) * var(--delta-ab-x)) +
            (var(--delta-ac-y) * var(--delta-ab-y)) +
            (var(--delta-ac-z) * var(--delta-ab-z))
        );
        --ac-project-ab: calc(var(--ac-dot-ab) / pow(var(--hypot-ab), 2));
        --tri-ac-x: calc(var(--delta-ac-x) - (var(--ac-project-ab) * var(--delta-ab-x)));
        --tri-ac-y: calc(var(--delta-ac-y) - (var(--ac-project-ab) * var(--delta-ab-y)));
        --tri-ac-z: calc(var(--delta-ac-z) - (var(--ac-project-ab) * var(--delta-ab-z)));
        --tri-height: calc(hypot(var(--tri-ac-x), var(--tri-ac-y), var(--tri-ac-z)));

        /* width and height of the initial right triangle */
        width: calc(var(--hypot-ab) * 1px);
        height: calc(var(--tri-height) * 1px);

        /* calculate the skew matrix coefficient */
        --skew-x: calc(sqrt(pow(var(--hypot-ac), 2) - pow(var(--tri-height), 2)));
        --skew-coefficient: calc(0 - var(--skew-x) / var(--tri-height));

        /* calculate ortho-normal basis */
        /* X basis vector, aka what the standard X vector maps to */
        --basis-x-x: calc(var(--delta-ab-x) / var(--hypot-ab));
        --basis-x-y: calc(var(--delta-ab-y) / var(--hypot-ab));
        --basis-x-z: calc(var(--delta-ab-z) / var(--hypot-ab));

        /* Y basis vector, aka what the standard Y vector maps to */
        /* this is the part of AC orthogonal to basis x above, normalized */
        --ac-dot-basis-x: calc(
            (var(--delta-ac-x) * var(--basis-x-x)) +
            (var(--delta-ac-y) * var(--basis-x-y)) +
            (var(--delta-ac-z) * var(--basis-x-z))
        );
        --basis-y-x-non-normalized: calc(var(--delta-ac-x) - (var(--ac-dot-basis-x) * var(--basis-x-x)));
        --basis-y-y-non-normalized: calc(var(--delta-ac-y) - (var(--ac-dot-basis-x) * var(--basis-x-y)));
        --basis-y-z-non-normalized: calc(var(--delta-ac-z) - (var(--ac-dot-basis-x) * var(--basis-x-z)));
        --basis-y-length: calc(hypot(
            var(--basis-y-x-non-normalized), 
            var(--basis-y-y-non-normalized), 
            var(--basis-y-z-non-normalized)
        ));
        --basis-y-x: calc(var(--basis-y-x-non-normalized) / var(--basis-y-length));
        --basis-y-y: calc(var(--basis-y-y-non-normalized) / var(--basis-y-length));
        --basis-y-z: calc(var(--basis-y-z-non-normalized) / var(--basis-y-length));

        --basis-z-x: calc(var(--basis-x-y) * var(--basis-y-z) - var(--basis-x-z) * var(--basis-y-y));
        --basis-z-y: calc(var(--basis-x-z) * var(--basis-y-x) - var(--basis-x-x) * var(--basis-y-z));
        --basis-z-z: calc(var(--basis-x-x) * var(--basis-y-y) - var(--basis-x-y) * var(--basis-y-x));

        /* Z basis vector, formed from the normalized cross product of the X and Y basis vectors */

        position: absolute;
        transform-origin: 0% 0%;
        transform:
            matrix3d(
                var(--basis-x-x), var(--basis-x-y), var(--basis-x-z), 0,
                calc(var(--skew-coefficient) * var(--basis-y-x)), var(--basis-y-y), var(--basis-y-z), 0,
                var(--basis-z-x), var(--basis-z-y), var(--basis-z-z), 0,
                var(--a-x), var(--a-y), var(--a-z), 1
            );
    }
</style>

<label for="yaw">yaw</label>
<input type="range" id="yaw" name="yaw" min="-180" max="180" />
<label for="pitch">pitch</label>
<input type="range" id="pitch" name="pitch" min="-90" max="90" />
<label for="roll">roll</label>
<input type="range" id="roll" name="roll" min="-90" max="90" />

<div class="container">
    <div class="camera">
    <div class="scene" style="
        --cam-yaw: 0;
        --cam-pitch: 0;
        --cam-roll: 0;
        --cam-x: 0;
        --cam-y: 300;
        --cam-z: 0;
        animation-play-state: paused;
    ">
        <div class="rect" style="
        --a-x: -100;
        --a-y: -100;
        --a-z: 100;
        --b-x: 100;
        --b-y: -100;
        --b-z: 100;
        --c-x: -100;
        --c-y: 100;
        --c-z: 100;
        background: radial-gradient(cyan 0%, magenta 100%);
        ">
            <h5>WELCOME TO MY HORSE</h5>
            <p>SLIDE THE SLIDERS ABOVE TO SPIN THIS CUBE AND SEE ITS DELIGHTS</p>
        </div>
        <div class="rect" style="
        --a-x: 100;
        --a-y: 100;
        --a-z: 100;
        --b-x: 100;
        --b-y: -100;
        --b-z: 100;
        --c-x: 100;
        --c-y: 100;
        --c-z: -100;
        background: url(/minecraft-grass.jpg);
        background-size: 100%;
        ">
        <iframe 
            src="/" 
            title="description" 
            width="800" 
            height="800"
            style="transform-origin: 0% 0%; transform: scale(25%, 25%);"
        ></iframe>
        </div>        
        <div class="rect" style="
        --a-x: -100;
        --a-y: -100;
        --a-z: 100;
        --b-x: 100;
        --b-y: -100;
        --b-z: 100;
        --c-x: -100;
        --c-y: -100;
        --c-z: -100;
        background: white;
        ">
        <img src="/blog/horse-spin.gif" width="200" height="200"/>
        </div>
        <div class="rect" style="
        --a-x: 100;
        --a-y: -100;
        --a-z: -100;
        --b-x: -100;
        --b-y: -100;
        --b-z: -100;
        --c-x: 100;
        --c-y: 100;
        --c-z: -100;
        background: linear-gradient(
            #5BCEFA 0%, #5BCEFA 20%, 
            #F5A9B8 20%, #F5A9B8 40%, 
            #FFFFFF 40%, #FFFFFF 60%, 
            #F5A9B8 60%, #F5A9B8 80%, 
            #5BCEFA 80%, #5BCEFA 100%
        );
        "></div>
                <div class="rect" style="
        --a-x: -100;
        --a-y: -100;
        --a-z: 100;
        --b-x: -100;
        --b-y: 100;
        --b-z: 100;
        --c-x: -100;
        --c-y: -100;
        --c-z: -100;
        background: var(--background-color);
        ">
            <label for="animate" style="font-size: calc(2.5 * var(--font-size))">animate?</label>    
            <input type="checkbox" id="animate" name="animate" style="scale: 2.5;" />
        </div>
        <div class="rect" style="
        --a-x: -100;
        --a-y: 100;
        --a-z: 100;
        --b-x: 100;
        --b-y: 100;
        --b-z: 100;
        --c-x: -100;
        --c-y: 100;
        --c-z: -100;
        background: linear-gradient(
            #FFF433 25%, 
            #FFFFFF 25% 50%, 
            #9B59D0 50% 75%, 
            #2D2D2D 75%
        );
        "></div>
    </div>
    </div>
</div>

<script>
    let cam_x = 0;
    let cam_y = 300;
    let cam_z = 0;

    let yaw = document.getElementById("yaw");
    yaw.value = 0;
    let pitch = document.getElementById("pitch");
    pitch.value = 0;
    let roll = document.getElementById("roll");
    roll.value = 0;
    let animate = document.getElementById("animate");
    animate.checked = false;

    let scene = document.getElementsByClassName("scene")[0];
    let update_scene = () => {
        const animation = !animate.checked ? "none" : `
            spinnies 10s infinite linear,
            uppies 3s infinite ease-in-out,
            rollies 7s infinite ease-in-out;`;
        scene.setAttribute("style", `
            --cam-yaw: ${yaw.value};
            --cam-pitch: ${pitch.value};
            --cam-roll: ${roll.value};
            --cam-x: ${cam_x};
            --cam-y: ${cam_y};
            --cam-z: ${cam_z};
            animation: ${animation};
        `);
    };

    yaw.addEventListener("input", update_scene)
    pitch.addEventListener("input", update_scene)
    roll.addEventListener("input", update_scene)
    animate.addEventListener("input", update_scene)
    update_scene()
</script>