{% if animated %}
    {% set container_classes = "container animated" %}
{% elif animated_spin %}
    {% set container_classes = "container animated-spin" %}
{% else %}
    {% set container_classes = "container" %}
{% endif %}

<div id="container-{{nth}}" class="{{ container_classes }}">
    <div class="camera camera-projection"  style="
        --cam-x: {{ x | default(value=0) }};
        --cam-y: {{ y | default(value=300) }};
        --cam-z: {{ z | default(value=300) }};
        --cam-projection: {{ projection | default(value=1) }};
    ">
        <div class="camera camera-roll" style="--cam-roll: {{ roll | default(value=0) }};">
            <div class="camera camera-pitch" style="--cam-pitch: {{ pitch | default(value=0) }};">
                <div class="camera camera-yaw" style="--cam-yaw: {{ yaw | default(value=0) }};">
                    <div class="scene">
                        {% if body %}
                        {{ body | safe }}
                        {% else %}
                        {{ load_data(path=path) | safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style> 
.container.animated .camera-projection {
    animation: zoomies 20s infinite ease-in-out;
}

.container.animated .camera-roll {
    animation: rollies 13s infinite ease-in-out;
}


.container.animated .camera-pitch {
    animation: uppies 14s infinite ease-in-out;
}

.container.animated .camera-yaw, .container.animated-spin .camera-yaw {
    animation: spinnies 10s infinite linear;
}
</style>