<div id="container-{{nth}}" class="container">
    <div class="camera camera-projection animated"  style="
        --cam-yaw: 0;
        --cam-pitch: 0;
        --cam-roll: 0;
        --cam-x: 0;
        --cam-y: 300;
        --cam-z: 300;
    ">
        <div class="camera camera-roll animated">
            <div class="camera camera-pitch animated">
                <div class="camera camera-yaw animated">
                    <div class="scene">
                        {% if body %}
                        {{ body | safe }}
                        {% else %}
                        {{ load_data(path=path) | safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style> 
.camera-projection.animated {
    animation: zoomies 20s infinite ease-in-out;
}

.camera-roll.animated {
    animation: rollies 13s infinite ease-in-out;
}


.camera-pitch.animated {
    animation: uppies 14s infinite ease-in-out;
}

.camera-yaw.animated {
    animation: spinnies 10s infinite linear;
}
</style>