<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%- block title -%}{{ config.title }}{%- endblock -%}</title>

    <link rel="icon" href="/icon-48.png">

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Henny+Penny&family=IBM+Plex+Serif&family=IBM+Plex+Sans&display=swap');
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=pan_zoom,rss_feed,cloud" />

    {%- block links -%}{%- endblock -%}

    <link rel="stylesheet" href="{{ get_url(path="css/style.css", cachebust=true) }}">
    <link rel="stylesheet" href="{{ get_url(path="css/gallery.css", cachebust=true) }}">
    <link rel="stylesheet" href="{{ get_url(path="css/rendering.css", cachebust=true) }}">
    <link rel="stylesheet" href="{{ get_url(path="css/font-palette-demo.css", cachebust=true) }}">

    {#- katex -#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.46/dist/katex.min.css" integrity="sha384-hW6ZmmePRD2f/9cuxGE6C9faGprtIBOme5OLUiEjtRKMTN67tY23ur9eAi21H8De" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.46/dist/katex.min.js" integrity="sha384-FVvsvR4UzyIP8Y5hVvHjOfjVh+LWV78ll63SYx1t+nuuMPGMAihB8dJ2YsYyg1Wb" crossorigin="anonymous"></script>
    <!-- Recognize <script type="math/tex"> tags -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.46/dist/contrib/mathtex-script-type.min.js" integrity="sha384-W8gaN87yMtPe/iAcxlyIDA8OVOzZvVD4c/HEE6QHhIyo8yHnVSXLzzy+eNWwpivm" crossorigin="anonymous"></script>
    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.46/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        renderMathInElement(document.body, {
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ]
        });
      });
    </script>

    {%- block stylesheets -%}{%- endblock -%}
    
    {#- Standard meta tags -#}

    {%- if page?.authors -%}
      {%- for author in page.authors %}
      <meta name="author" content="{{ author }}">
      {%- endfor -%}
    {%- elif page and config.author %}
      <meta name="author" content="{{ config.author }}">
    {%- endif %}

    {%- block description -%}
      {%- if config.description %}
        <meta name="description" content="{{ config.description }}">
      {%- endif %}
    {%- endblock %}

    {% block robots -%}
      <meta name="robots" content="index, follow">
    {%- endblock %}

    {# Social media meta tags -#}
    {#- FIXME: Refactor all of these to blocks/set-blocks when Tera V2 is available. -#}
    {#- See this GitHub comment: https://github.com/Keats/tera/issues/637#issuecomment-2974769236 -#}
    {%- if current_path and current_path == "/" -%}
    {%- set page_title = config.title -%}
    <meta property="og:title" content="{{ page_title }}">
    {% elif current_path -%}
    {%- set page_title = page?.title | default(value=section?.title | default(value=config.title)) -%}
    <meta property="og:title" content="{{ page_title | replace(from='"', to="&quot;") | safe }}">
    {% endif -%}

    {% if page -%}
    <meta property="og:type" content="article">
    {% else -%}
    <meta property="og:type" content="website">
    {% endif -%}

    {%- if page?.extra?.icon or section?.extra?.icon -%}
      {%- set base_path = page?.path | default(value=section?.path) -%}
      {%- set icon_path = page?.extra?.icon | default(value=section?.extra?.icon) -%}

      {%- set image_meta = get_image_metadata(path=base_path ~ icon_path) -%}
      {%- set resized_image = resize_image(path=base_path ~ icon_path, width=1200, height=675, op="fit") -%}

      <meta property="og:image" content="{{ resized_image.url | safe }}">
      <meta property="og:image:width" content="{{ resized_image.width }}">
      <meta property="og:image:height" content="{{ resized_image.height }}">
      <meta property="og:image:type" content="{{ image_meta.mime | safe }}">
      {% if page?.extra?.social_media_image?.alt_text or page?.extra?.social_media_image?.alt_text -%}
        {%- set alt_text = page.extra.social_media_image.alt_text | default(value=page.extra.social_media_image.alt_text) -%}
        <meta property="og:image:alt" content="{{ alt_text | replace(from='"', to="&quot;") | safe }}">
      {% endif -%}
      <meta name="twitter:card" content="summary_large_image">
    {% endif -%}

    {%- if current_url -%}
    {% set permalink = page?.permalink | default(value=section?.permalink | default(value=current_url)) -%}
    <meta property="og:url" content="{{ permalink | safe }}">
    {% endif -%}

    {%- if page?.description -%}
      <meta property="og:description" content="{{ page.description | markdown(inline=true) | striptags }}">
    {% elif page?.summary -%}
      {%- set inline_summary = page?.summary | newlines_to_br | replace(from="<br>", to=" ") | striptags -%}
      <meta property="og:description" content="{{ inline_summary | trim_end(pat=".") | safe }}…">
    {%- elif section?.description -%}
      <meta property="og:description" content="{{ section.description | markdown(inline=true) | striptags }}">
    {% elif config.description -%}
      <meta property="og:description" content="{{ config.description }}">
    {% endif -%}

    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="og:updated_time" content="{{ now() }}">

    {%- if page?.date %}
      <meta property="article:published_time" content="{{ page.date | date(format="%Y-%m-%d %H:%M") }}">
    {%- endif -%}

    {%- if page?.updated %}
      <meta property="article:modified_time" content="{{ page.updated | date(format="%Y-%m-%d %H:%M") }}">
    {%- endif -%}

    {%- if page?.taxonomies and page?.taxonomies.categories %}
      <meta property="article:section" content="{{ page.taxonomies.categories[0] }}">
    {%- endif -%}
    
    {%- if page?.taxonomies?.tags -%}
      {%- for tag in page.taxonomies.tags %}
      <meta property="article:tag" content="{{ tag }}">
      {%- endfor -%}
    {%- endif -%}

    {%- if config.extra.fediverse_creator %}
      <meta name="fediverse:creator" content="{{ config.extra.fediverse_creator }}">
    {%- endif %}

    {%- if config.generate_feeds -%}
      <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ get_url(path="/rss.xml") }}" />
      <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path="/atom.xml") }}" />
    {%- endif -%}
  </head>
  <body class="layout-center">
    <dialog id="verification" class="verification-popover">
      <h1>You must be a horse to view and use this website</h1>
      <div>
        <button onclick="user_is_a_horse()">I'm a horse</button>
        <a href="https://www.youtube.com/watch?v=IfRJb5b9LUg">I'm not a horse</a>
        </div>
    </dialog>
    <script>
      let verification_dialog = document.getElementById("verification");
      function user_is_a_horse() {
        localStorage.setItem("horse_verification", true);
        verification_dialog.close();
      }

      function user_is_not_a_horse() {
        localStorage.removeItem("horse_verification");
      }

      let verified = localStorage.getItem("horse_verification");
      if (!verified) {
        verification_dialog.showModal();
      }
    </script>
    <header class="nav">
      {% block header %}
      <h1 class="flaming">
        <a href="{{ get_url(path="/") }}">
          {{config.title}}
        </a>  
      </h1>
      <div class="logo flaming">
        {% set logo = resize_image(path="logo.png", width=240, height=200) %}
        <div onmouseenter="count()" class="container">
          <div class="camera camera-projection">
            <div class="camera camera-roll">
              <div class="camera camera-pitch">
                <div class="camera camera-yaw">
                  <div class="scene">
                    {{ load_data(path="content/horse/model.divs") | safe }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <span>flip count = </span><span id="count">0</span>
      </div>
      <div class="links flaming">
        {%- for section in config.extra.nav_sections -%}
          {%- set section = get_section(path=section, metadata_only=true) -%}
          <div class="link" >
            <a href="{{section.path}}">{{section.extra.nav_title}}</a>
          </div>
        {%- endfor -%}
      </div>
      <script>
        function count() {
          let my_count = Number(localStorage.getItem("horseCount"));
          my_count += 1
          Number(localStorage.setItem("horseCount", my_count));
          document.getElementById("count").textContent = my_count;
        }

        let global_count = Number(localStorage.getItem("horseCount"));
        document.getElementById("count").textContent = global_count;
      </script>
      {% endblock %}
    </header>
    <main id="main">
      {% block main %}{% endblock %}
    </main>
    <footer>
      <h3>see more cool stuff</h2>
      <div>
        {% set data = load_data(path="/88x31.toml") %}
        {% for button in data.buttons | sort(attribute="alt") %}
          {% if button.url %}<a href="{{button.url}}">{% endif %}
            {% set image_url = get_url(path="/88x31/" ~ button.image) %}
            <img src="{{image_url}}" alt="{{button.alt}}" loading="lazy" />
          {% if button.url %}</a>{% endif %}
        {% endfor %}
      </div>
      <div class="rff-webring">
        <a href="https://cobra.monster/rff-webring/borzoi.horse/prev">
          <img src="/point-right.svg" width="50px" alt="previous" />
        </a>
        <a href="https://cobra.monster/rff-webring">RFF Webring</a>
        <a href="https://cobra.monster/rff-webring/borzoi.horse/next">
          <img src="/point-right.svg" width="50px" alt="next" />
        </a>
      </div>
      <div class="theme-selector">
        <button onclick="set_theme('grass')">
          <img src="/minecraft-grass.jpg" alt="select grass theme">
        </button>
        <button onclick="set_theme('dirt')">
          <img src="/minecraft-dirt.jpg" alt="select dirt theme">
        </button>
        <button onclick="set_theme('snow')">
          <img src="/minecraft-snow.jpg" alt="select snow theme">
        </button>
        <button onclick="set_theme('nether')">
          <img src="/minecraft-netherrack.jpg" alt="select netherrack theme">
        </button>
        <button onclick="set_theme('sculk')">
          <img src="/minecraft-sculk.jpg" alt="select sculk theme">
        </button>
      </div>
      <div class="mob-spawners">
        <button onclick="spawn_mob('squid')">
          <img src="/minecraft-squid-face.png" alt="spawn one squid">
        </button>
        <button onclick="spawn_mob('fox')">
          <img src="/minecraft-fox-face.png" alt="spawn one fox">
        </button>
        <button onclick="spawn_mob('horse')">
          <img src="/minecraft-horse-face.png" alt="spawn one horse">
        </button>
        <button onclick="spawn_mob('skeleton-horse')">
          <img src="/minecraft-skeleton-horse-face.png" alt="spawn one skeleton horse">
        </button>
        <button onclick="spawn_mob('salmon')">
          <img src="/minecraft-salmon-body.png" alt="spawn one salmon">
        </button>
        <button onclick="spawn_mob('borzoi')">
          <img src="/minecraft-borzoi-face.png" alt="spawn one borzoi">
        </button>
      </div>
      <div class="media-links">
        <button>
          <a href="{{ get_url(path="/atom.xml") }}"><span class="material-symbols-outlined">rss_feed</span></a>
        </button>
        <button>
          <a href="https://bsky.app/profile/flowbish.bksy.social"><span class="material-symbols-outlined">cloud</span></a>
        </button>
      </div>
    </footer>
  </body>
  <script>
  // inline javascript for the girlies
  function set_theme(theme) {
      localStorage.setItem("theme", theme);
      document.body.setAttribute('theme', theme);
  }

  let theme = localStorage.getItem("theme");
  if (theme == null) {
    theme = "grass";
  }
  document.body.setAttribute('theme', theme);

  function getRandomArbitrary(min, max) {
    return Math.random() * (max - min) + min;
  }

  async function spawn_mob(mob) {
    const response = await fetch(`/${mob}/model.divs`);
    if (!response.ok) throw new Error('Network response error');
    const text = await response.text();

    const top = getRandomArbitrary(10, 90);
    const left = getRandomArbitrary(10, 90);

    const dp = new DOMParser();
    const new_doc = dp.parseFromString(`
      <div class="absolute container" style="
        left: ${left}%;
        top: ${top}%;
      " inert>
        <div class="camera camera-projection"  style="
            --cam-yaw: 0;
            --cam-pitch: 0;
            --cam-roll: 0;
            --cam-x: 0;
            --cam-y: 300;
            --cam-z: 500;
        ">
          <div class="camera camera-roll">
            <div class="camera camera-pitch">
              <div class="camera camera-yaw" style="
                animation: spinnies 3s infinite linear;
              ">
                <div class="scene">
                  ${text}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    `, "text/html");
    const element = new_doc.getElementsByClassName("container")[0];
    document.getElementsByTagName("body")[0].appendChild(element);
  }
</script>
</html>
