{% extends "base.html" %}

{%- block title -%}{{ page.title }}{%- endblock -%}

{%- block description -%}
    {%- if page.description %}
    <meta name="description" content="{{ page.description | markdown(inline=true) | striptags }}">
    {%- elif page.summary %}
    <meta name="description" content="{{ page.summary | newlines_to_br | replace(from="<br>", to=" ") | striptags | trim_end(pat=".") | safe }}…">
    {%- endif %}
{%- endblock -%}

{%- block main -%}
<article class="post content">

{{ <post.header config page heading="h1" hide_reading_time={page.extra.hide_reading_time | default(value=false)} />}}
{{ page.content | safe }}

</article>

{%- endblock -%}
