{% extends "base.html" %}

{%- block title -%}{{ section.title }}{%- endblock -%}

{%- block description -%}
    {%- if section.description %}
    <meta name="description" content="{{ section.description | markdown(inline=true) | striptags }}">
    {%- elif section.summary %}
    <meta name="description" content="{{ section.summary | newlines_to_br | replace(from="<br>", to=" ") | striptags | trim_end(pat=".") | safe }}…">
    {%- endif %}
{%- endblock -%}


{%- block main -%}

{%- if section.content -%}
<header class="content {%- if section.extra.framed %} framed{%- endif -%}">
    {{ section.content | indent | safe }}
</header>
{%- endif -%}

{%- if section.pages -%}
    <div class="excerpts">
    {% for page in section.pages -%}
        {% if not page.extra.hidden %}
            {{ <post.excerpt config page hide_reading_time={page.extra.hide_reading_time | default(value=false)} />}}
        {% endif %}
    {% endfor -%}
    </div>
{%- endif -%}

{%- endblock -%}
