@mixin henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

@mixin coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

@font-palette-values --dark-mode {
  font-family: "Coral Pixels";
  base-palette: 1;
  override-colors: 
    0 #1485f726,
    1 #b7d0fa3d,
    2 #fc7e274f,
    3 #f3882b24,
    4 #1209ff1c,
    5 #56d4fdf0,
    6 #fd7111f0,
    7 #1383fdfc,
    8 #bbe9f726,
    9 #fdb444f5,
    10 #f8eecf4a,
    11 #fc3f0599,
    12 #0554fdcf,
    13 #c2fd92f0,
    14 #df1efa4d,
    15 #fa08081f,
    16 #beeafc80,
    17 #f9fedc59,
    18 #7761ff9e,
    19 #f813064f,
    20 #0417fa42,
    21 #1286fd61,
    22 #7af6fb69,
    23 #0543fc99,
    24 #57bffdc4,
    25 #fea095a6,
    26 #071cfe75,
    27 #ffb83c8c,
    28 #239afca6,
    29 #fc39789c,
    30 #d6fea2a1,
    31 #ffffffff;
}


@font-palette-values --strong {
  font-family: "Coral Pixels";
  override-colors:
    0 #ca000026,
    1 #0000003d,
    2 #0014c44f,
    3 #0004c024,
    4 #7488001c,
    5 #8e0000f0,
    6 #0024e4f0,
    7 #cc0000fc,
    8 #00000026,
    9 #0000b0f5,
    10 #0000004a,
    11 #0064d899,
    12 #c42400cf,
    13 #000042f0,
    14 #0098004d,
    15 #00a8a81f,
    16 #00000080,
    17 #00000059,
    18 #022e009e,
    19 #009cb44f,
    20 #98740042,
    21 #ce000061,
    22 #64000069,
    23 #b83c0099,
    24 #7e0000c4,
    25 #000008a6,
    26 #986c0075,
    27 #0000c28c,
    28 #c00000a6,
    29 #0074009c,
    30 #000028a1,
    31 #000000ff;
}

@font-palette-values --dark-mode-strong {
  font-family: "Coral Pixels";
  override-colors:
    0 #34fefe26,
    1 #fefefe3d,
    2 #feea3a4f,
    3 #fefa3e24,
    4 #8a76fe1c,
    5 #70fefef0,
    6 #feda1af0,
    7 #32fefefc,
    8 #fefefe26,
    9 #fefe4ef5,
    10 #fefefe4a,
    11 #fe9a2699,
    12 #3adafecf,
    13 #fefebcf0,
    14 #fe66fe4d,
    15 #fe56561f,
    16 #fefefe80,
    17 #fefefe59,
    18 #fcd0fe9e,
    19 #fe624a4f,
    20 #668afe42,
    21 #30fefe61,
    22 #9afefe69,
    23 #46c2fe99,
    24 #80fefec4,
    25 #fefef6a6,
    26 #6692fe75,
    27 #fefe3c8c,
    28 #3efefea6,
    29 #fe8afe9c,
    30 #fefed6a1,
    31 #fefefeff;
}

@mixin ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}