@use 'font';

.content {
    ul:not(.post-meta) {
        list-style: none;

        li {
            &:not(:last-of-type) {
                margin-bottom: 3px;
            }

            &:not(:has(input))::before {
                content: '⦿';
                position: absolute;
                left: -20px;
                color: var(--accent-color);
            }

            &>input {
                margin-inline-start: -4ch;
            }
        }

        ul {
            li:not(:has(input))::before {
                content: '■';
            }

            ul li:not(:has(input))::before {
                content: '►';
            }
        }
    }


    .giallo {
    overflow-x: scroll;
    }

    .giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
    }

    .giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    text-align: right;
    opacity: 0.8;
    }
}

.framed {
    border: 1px solid var(--accent-color);
    padding: 20px;
    margin: 25px 0;

    & *:first-child {
        margin-top: 0;
    }

    & *:last-child {
        margin-bottom: 0;
    }
}

.post {
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
        
    border-radius: 20px;
    border-color: var(--text-color);
    border-width: 2px;
    border-style: solid;

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 100%;
        }
    }

    .hidden {
        display: none;
    }
}

.excerpts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 700px) {
    .excerpts {
        grid-template-columns: 1fr;
    }
}

.post.excerpt {
    background-color: var(--alternate-background-color);
    border-radius: 10px;
    overflow: clip;

    padding: 0;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        h2 {
            margin: 0;
            padding: 5%;
        }

        img {
            display: block;
            margin: 0;
            width: 100%;
            height: auto;
        }
    }

    p {
        margin: 0;
        padding: 5%;
    }
}

.post-meta {
    @include font.coral-pixels-regular;
}

.post-title {
    position: relative;
    margin-block: 0 15px;
    padding-bottom: 15px;
    color: var(--accent-color);
    margin-right: auto;

    a {
        padding: 10px;
        text-decoration: none;
        color: var(--accent-color);
    }

    a:hover {
        filter: invert(0.8) hue-rotate(180deg);
    }
}

ul.post-meta {
    list-style: none;
    display: block;
    margin: 0 0 8px;
    color: color-mix(in srgb, var(--text-color) 65%, transparent);

    >li {
        display: inline;

        &::before {
            content: '';
        }

        &[role="separator"] {
            user-select: none;
        }

        &.draft-label {
            display: block;
            float: right;
            margin-top: -2px;
            padding-block: 2px;
            padding-inline: 8px;
            background-color: var(--accent-color);
            color: var(--background-color);
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .post-anchor {
        margin-inline-start: 10px;
        opacity: 0%;
        color: var(--accent-color);
        text-decoration: none;
        user-select: none;

        @media screen and (max-width: 684px) {
            opacity: 100%;
        }

        @media print {
            display: none;
        }
    }

    &:focus-within,
    &:hover {
        .post-anchor {
            opacity: 100%;
        }
    }
}