$max-layout-width: 864px;

:root {
    --font-size: 1rem;
    --line-height: 1.54em;
    --radius: 0;

    @media (max-width: 684px) {
        --font-size: 0.95rem;
    }
}

@mixin henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

@mixin coral-pixels-regular {
  font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin ibm-plex-serif-regular {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  @include ibm-plex-serif-regular;

  &.layout-left,
  &.layout-center,
  &.layout-full-width {
      display: flex;
      flex-direction: column;
      padding: 40px;
      max-width: $max-layout-width;
      border-right: 1px solid color-mix(in srgb, var(--accent-color) 10%, transparent);

      @media (max-width: 684px) {
          padding: 20px;
      }
  }

  &.layout-center,
  &.layout-full-width {
      border: none;
      margin: 0 auto;
  }

  &.layout-full-width {
      max-width: 100%;
  }

  background-image: url("/minecraft-grass.jpg"), url("/minecraft-dirt.jpg");
  background-repeat: repeat-x, repeat;
}

h1, h2, h3, h4, h5, h6 {
  @include henny-penny-regular;
}

code {
  @include coral-pixels-regular;
}

main {
    overflow-wrap: break-word;
}

h1 {
    font-size: calc(var(--font-size) * 3);
    letter-spacing: 0;
}

h2 {
    font-size: calc(var(--font-size) * 2.4);
    letter-spacing: 0;
}

h3 {
    font-size: calc(var(--font-size) * 1.8);
    letter-spacing: 0;
}

h4,
h5,
h6 {
    font-size: calc(var(--font-size) * 1);
    letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
img,
figure,
video,
table {
    margin: 25px 0;
}

header h1 {
  @include henny-penny-regular;
  font-size: calc(var(--font-size) * 4);
  width: 100%;
  margin: 0;
}

header .nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

header .nav .logo {
  width: 240px;
  padding: 0;
  margin-right: auto;
}

header .nav .logo img:hover {
  transform: rotateY(180deg);
}

header .nav a {
  @include coral-pixels-regular;
  font-size: calc(var(--font-size) * 1.5);
  align-self: center;
  padding: 15px;
  text-decoration: none;
  flex-basis: 100px;
}

header, main, footer {
  background: white;
  box-shadow: 0 0 20px 20px white;
  padding: 10px;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer a {
  @include coral-pixels-regular;
  filter: blur(0.3px);
}