@use 'post';
@use 'font';
@use 'verification';

$max-layout-width: 864px;

:root {
    --font-size: 1rem;
    --line-height: 1.54em;
    --radius: 0;
}


*,
*::before,
*::after {
    box-sizing: inherit;
}

.hidden {
  display: none;
}

body[theme="grass"] {
  background-image: url("/minecraft-grass.jpg"), url("/minecraft-dirt.jpg");
  background-repeat: repeat-x, repeat;
}

body[theme="dirt"] {
  background-image: url("/minecraft-dirt.jpg");
  background-repeat: repeat;
}

body[theme="snow"] {
  background-image: url("/minecraft-snow.jpg"), url("/minecraft-dirt.jpg");
  background-repeat: repeat-x, repeat;
}

body {
  @include font.ibm-plex-serif-regular;

  &.layout-left,
  &.layout-center,
  &.layout-full-width {
      display: flex;
      flex-direction: column;
      padding: 30px;
      max-width: $max-layout-width;
      border-right: 1px solid color-mix(in srgb, var(--accent-color) 10%, transparent);

  }

  &.layout-center,
  &.layout-full-width {
      border: none;
      margin: 0 auto;
  }

  &.layout-full-width {
      max-width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font.henny-penny-regular;
}

code {
  @include font.coral-pixels-regular;
}

main {
    overflow-wrap: break-word;
}

h1 {
    font-size: calc(var(--font-size) * 3);
    letter-spacing: 0;
}

h2 {
    font-size: calc(var(--font-size) * 2.4);
    letter-spacing: 0;
}

h3 {
    font-size: calc(var(--font-size) * 1.8);
    letter-spacing: 0;
}

h4,
h5,
h6 {
    font-size: calc(var(--font-size) * 1);
    letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
img,
figure,
video,
table {
    margin: 25px 0;
}

p, ul, ol {
  line-height: var(--line-height);
}


img {
    max-width: 100%;
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    overflow-wrap: break-word;
  }

  h1 {
    @include font.henny-penny-regular;
    font-size: calc(var(--font-size) * 4);
    margin: 0;
    margin-right: 10px;
    flex-basis: 15%;
    

    a {
      color: black;
    }
  }

  .logo {
    @include font.coral-pixels-regular;
    padding: 0;

    display: flex;
    flex-direction:column;
    flex-basis: 25%;
    flex-wrap: wrap-reverse;
    margin-left: auto;

    align-items: flex-end;

    img {
      max-width: max-content;
      margin: 0;
      width: 200px;
    }

    a {
      padding-bottom: 0;
    }

    a:hover {
      filter: none;
    }

    img:hover {
      transform: rotateY(180deg);
    }
  }
}


.links {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  flex-grow: 1;

  a {
    @include font.coral-pixels-regular;
    font-size: calc(var(--font-size) * 1.3);
    align-self: flex-end;
    padding: 15px;
    flex-basis: 80px;
    min-width: 80px;
  }

  a:hover {
    filter: invert(1);
    filter: hue-rotate(180deg);
  }
}

header, main, footer {
  background: white;
  box-shadow: 0 0 20px 20px white;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }

  h3 {
    margin-bottom: 0;
  }

  img {
    image-rendering: pixelated;
    margin: 0;
  }
}

footer .rff-webring {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  a {
    @include font.coral-pixels-regular;
    font-size: 20px;
    text-decoration: none;
    filter: blur(0.3px);
  }

  a:hover {
    filter: invert(1);
    filter: hue-rotate(180deg);
  }

  a img {
    margin: 0px 10px;
  }

  a:first-child {
    transform: scaleX(-1);
  }
}

.theme-selector {
  display: flex;
  flex-direction: row;
  justify-content:space-around;

  img {
    margin: 5px;
    height: 40px;
    border-radius: 0;
    border: black 1px solid;
    background-image: url("/minecraft-grass.jpg")
  }

  img:hover {
    cursor: pointer;
  }
}