{% extends "base.html" %}

{%- block header -%}
<div class="left"></div>
{% <rendering> %}
    <div class="node scene">
        {{ load_data(path="models/borzoi.divs") | safe }}
        {{ load_data(path="models/horse.divs") | safe }}
        <div class="node bg">
            <div class="rect" style="
                        --a-x: -100;
                        --a-y: -100;
                        --a-z: 0;
                        --b-x: 100;
                        --b-y: -100;
                        --b-z: 0;
                        --c-x: -100;
                        --c-y: 100;
                        --c-z: 0;
                        ">
            </div>
        </div>
        <div class="node borzoi">
            <div class="rect" style="
                --a-x: -200;
                --a-y: -100;
                --a-z: 50;
                --b-x: 80;
                --b-y: -100;
                --b-z: 50;
                --c-x: -200;
                --c-y: 0;
                --c-z: 50;
                ">
                <a href="/"><h1>BORZOI</h1></a>
            </div>
        </div>
        <div class="node horse">
            <div class="rect" style="
                --a-x: -200;
                --a-y: -100;
                --a-z: 50;
                --b-x: 40;
                --b-y: -100;
                --b-z: 50;
                --c-x: -200;
                --c-y: -50;
                --c-z: 50;
                ">
                <a href="/"><h1>HORSE</h1></a>
            </div>
        </div>
        <div class="node sections">
            <div class="node section-bg">
                <div class="rect" style="
                            --a-x: -100;
                            --a-y: -100;
                            --a-z: 0;
                            --b-x: 100;
                            --b-y: -100;
                            --b-z: 0;
                            --c-x: -100;
                            --c-y: 100;
                            --c-z: 0;
                            ">
                </div>
            </div>
            {%- for section in config.extra.nav_sections | reverse -%}
                {%- set section = get_section(path=section, metadata_only=true) -%}
                <div class="node section">
                    <div class="rect" style="
                    --a-x: -100;
                    --a-y: -100;
                    --a-z: 0;
                    --b-x: 100;
                    --b-y: -100;
                    --b-z: 0;
                    --c-x: -100;
                    --c-y: 100;
                    --c-z: 0;
                    ">
                        <p><a href="{{section.path}}">{{section.extra.nav_title}}</a></p>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
{% </rendering> %}
<div class="right"></div>

<style>

.nav {
    position: relative;
    height: auto;
    container-type: inline-size;
    overflow: hidden;
    padding: 0;


    background: none;
    box-shadow: none;

    .rect {
        pointer-events: none;
        a {
            pointer-events: auto;
        }
    }

    & > .left, & > .right {
        width: 10%;
        height: 40cqw;
        z-index: 10;
    }

    & > .left:hover ~ .container {
        .camera {
            --cam-yaw: -15;
        }
    }

    & > .container:has(~ .right:hover) {
        .camera {
            --cam-yaw: 15;
        }
    }

    &:hover > .container {
        .camera {
            --cam-projection: 0.4;

        }
    }

    & > .container {
        width: 80%;
        height: 40cqw;
        overflow: visible;
        
        .camera {
            --cam-y: 300;
            --cam-z: 1500;
            --cam-projection: 1;
            --cam-pitch: 5;
            transition: --cam-yaw 1s, --cam-pitch 1s, --cam-projection 0.5s;
        }
    }

    .node.scene {
        --node-translate-y: -50px;

        .bg .rect, .section-bg .rect {
            background-color: var(--alternate-background-color);
            border-radius: 100px;
        }
        .bg {
            --node-scale-x: 5;
            --node-scale-y: 2;
            --node-translate-z: -50px;
            --node-translate-y: -40px;
        }
    }

    .node.borzoi, .node.horse {
        --node-scale: 2;

        .rect {
            overflow: visible;

            h1 {
                line-height: 1;
            }
        }
    }

    .node.borzoi {
        --node-translate-y: 20px;
        --node-translate-x: 40px;
    }

    .node.horse {
        --node-translate-y: 180px;
        --node-translate-x: 270px;
    }

    /* borzoi */
    .node.base:nth-of-type(1) {
        --node-scale: 0.70;
        --node-rotation-y: 1;
        --node-rotation-angle: -110deg;
        --node-translate-x: -300px;
        --node-translate-y: 90px;

        .node.neck {
            --node-rotation-y: 1;
            --node-rotation-angle: 0;
            transition: --node-rotation-angle 0.5s;
        }

    }

    /* horse */
    .node.base:nth-of-type(2) {
        --node-rotation-y: 1;
        --node-scale: 0.90;
        --node-rotation-angle: 110deg;
        --node-translate-x: 320px;
        --node-translate-y: -40px;

        .node.Body > .node.Neck {
            --node-rotation-y: 1;
            --node-rotation-angle: 0;
            transition: --node-rotation-angle 0.5s;
        }
    }

    .node.sections {
        --node-translate-z: 40px;
        --node-translate-y: 160px;
        --node-scale: 2;

        .section-bg {
            --node-translate-z: -50px;
            --node-translate-y: 10px;
            --node-scale-y: 0.5;
            --node-scale-x: 3;
        }

        .node.section {
            z-index: 10;
        
            .rect {
                display: flex;
                flex-direction: right;
                align-items: center;
                justify-content: center;
            }
        }

        {% set num_sections = config.extra.nav_sections | length %}
        {% for i in range(end=num_sections) %}
        .node.section:nth-last-of-type({{ i + 1 }}) {
            --node-translate-x: calc(-200px + (400px / {{ num_sections - 1 }}) * {{ i }});
            --node-rotation-z: 1;
            --node-rotation-angle: calc(-10deg + (20deg / {{ num_sections - 1 }}) * {{ i }});
        }
        {% endfor %}
    }
}
</style>
{%- endblock header -%}

{%- block main -%}
{%- if page.content -%}
{{ page.content | indent | safe }}
{%- endif -%}
{%- endblock -%}