{% extends "base.html" %}

{%- block header -%}
<div class="left"></div>
{% <rendering> %}
    {{ load_data(path="models/borzoi.divs") | safe }}
    {{ load_data(path="models/horse.divs") | safe }}
    <div class="node borzoi" style="
        transform:
            translate3d(
            calc(0 * 100 * 1cqw + var(--node-translate-x)),
            calc(0 * 100 * -1cqw + var(--node-translate-y)),
            calc(0 * 100 * 1cqw + var(--node-translate-z))
            )
            rotate3d(0, -0, 0, calc(-2 * acos(1)))
            rotate3d(var(--node-rotation-x), var(--node-rotation-y), var(--node-rotation-z), var(--node-rotation-angle))
            scale3d(calc(1 * var(--node-scale)), calc(1 * var(--node-scale)), calc(1 * var(--node-scale)));
        ">
        <div class="rect" style="
            --a-x: -200;
            --a-y: -100;
            --a-z: 50;
            --b-x: 80;
            --b-y: -100;
            --b-z: 50;
            --c-x: -200;
            --c-y: 0;
            --c-z: 50;
            ">
            <a href="/"><h1>BORZOI</h1></a>
        </div>
    </div>
    <div class="node horse" style="
        transform:
            translate3d(
            calc(0 * 100 * 1cqw + var(--node-translate-x)),
            calc(0 * 100 * -1cqw + var(--node-translate-y)),
            calc(0 * 100 * 1cqw + var(--node-translate-z))
            )
            rotate3d(0, -0, 0, calc(-2 * acos(1)))
            rotate3d(var(--node-rotation-x), var(--node-rotation-y), var(--node-rotation-z), var(--node-rotation-angle))
            scale3d(calc(1 * var(--node-scale)), calc(1 * var(--node-scale)), calc(1 * var(--node-scale)));
        ">
        <div class="rect" style="
            --a-x: -200;
            --a-y: -100;
            --a-z: 50;
            --b-x: 40;
            --b-y: -100;
            --b-z: 50;
            --c-x: -200;
            --c-y: 0;
            --c-z: 50;
            ">
            <a href="/"><h1>HORSE</h1></a>
        </div>
    </div>
    {%- for section in config.extra.nav_sections -%}
        {%- set section = get_section(path=section, metadata_only=true) -%}
        <div class="node section" style="
            transform:
                translate3d(
                calc(0 * 100 * 1cqw + var(--node-translate-x)),
                calc(0 * 100 * -1cqw + var(--node-translate-y)),
                calc(0 * 100 * 1cqw + var(--node-translate-z))
                )
                rotate3d(0, -0, 0, calc(-2 * acos(1)))
                rotate3d(var(--node-rotation-x), var(--node-rotation-y), var(--node-rotation-z), var(--node-rotation-angle))
                scale3d(calc(1 * var(--node-scale)), calc(1 * var(--node-scale)), calc(1 * var(--node-scale)));
            ">
            <div class="rect" style="
            --a-x: -100;
            --a-y: -100;
            --a-z: 25;
            --b-x: 100;
            --b-y: -100;
            --b-z: 25;
            --c-x: -100;
            --c-y: 100;
            --c-z: 25;
            ">
                <p><a href="{{section.path}}">{{section.extra.nav_title}}</a></p>
            </div>
        </div>
    {%- endfor -%}
{% </rendering> %}
<div class="right"></div>

<style>

.nav {
    position: relative;
    height: auto;
    container-type: inline-size;
    overflow: hidden;

    .rect {
        pointer-events: none;
        a {
            pointer-events: auto;
        }
    }

    & > .left, & > .right {
        width: 10%;
        height: 40cqw;
        z-index: 10;
    }

    & > .left:hover ~ .container {
        .camera {
            --cam-yaw: -15;
        }
    }

    & > .container:has(~ .right:hover) {
        .camera {
            --cam-yaw: 15;
        }
    }

    &:hover > .container {
        .camera {
            --cam-projection: 0.3;

                    
            /* borzoi */
            .node.base:nth-of-type(1) {
                .node.neck {
                    --node-rotation-angle: -60deg;
                }
            }

            /* horse */
            .node.base:nth-of-type(2) {
                .node.Body > .node.Neck {
                    --node-rotation-angle: 60deg;
                }
            }
        }
    }

    & > .container {
        width: 80%;
        height: 40cqw;
        overflow: visible;
        
        .camera {
            --cam-y: 300;
            --cam-z: 1500;
            --cam-projection: 1;
            transition: --cam-yaw 1s, --cam-projection 0.5s;
        }
    }

    .node.borzoi {
        --node-scale: 2;
        --node-translate-x: 40px;
    }

    .node.horse {
        --node-scale: 2;
        --node-translate-y: 150px;
        --node-translate-x: 300px;
    }

    /* borzoi */
    .node.base:nth-of-type(1) {
        --node-scale: 0.75;
        --node-rotation-y: 1;
        --node-rotation-angle: -110deg;
        --node-translate-x: -300px;
        --node-translate-y: 150px;

        .node.neck {
            --node-rotation-y: 1;
            --node-rotation-angle: 0;
            transition: --node-rotation-angle 0.5s;
        }

    }

    /* horse */
    .node.base:nth-of-type(2) {
        --node-rotation-y: 1;
        --node-rotation-angle: 110deg;
        --node-translate-x: 320px;
        --node-translate-y: -25px;

        .node.Body > .node.Neck {
            --node-rotation-y: 1;
            --node-rotation-angle: 0;
            transition: --node-rotation-angle 0.5s;
        }
    }

    .node.section {
        --node-scale: 2;
    }

    .node.section:nth-last-of-type(1) {
        --node-translate-x: 350px;
        --node-translate-y: -50px;
    }
}
</style>
{%- endblock header -%}

{%- block main -%}
{%- if page.content -%}
{{ page.content | indent | safe }}
{%- endif -%}
{%- endblock -%}