{% component post.excerpt(config, page, hide_reading_time=false) %}
<article class="post excerpt">
    {{ <post.header
            config
            page
            hide_reading_time
        /> }}
    {%- if page.description %}
    <p>{{ page.description | markdown(inline=true) | safe }}</p>
    {%- endif %}
</article>
{% endcomponent post.excerpt %}

{% component post.header(config, page, heading: string = "h2", hide_reading_time=false) %}
<header>
    
    {% if page?.extra.icon %}
    <a href="{{ page.permalink | safe }}"><img src="{{ get_url(path=page.path ~ page.extra.icon) }}" alt="{{page.title}}" ></a>
    {% endif %}

    <{{ heading }} class="post-title">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </{{ heading }}>

    <ul class="post-meta hidden">
        {% if page.draft -%}
        <li class="draft-label">DRAFT</li>
        {% endif -%}

        {% if page.date %}
        <li title="Published on {{ page.date }}{%- if page.updated %}, last updated {{ page.updated }}{%- endif -%}">
            {{ <post.date value={page.date} /> }}
            {%- if page.updated %}&nbsp;[Updated: {{ <post.date value={page.updated} /> }}]{%- endif -%}
        </li>
        {% endif %}

        {%- if page.authors %}
        <li role="separator" aria-hidden="true">::</li>
        <li title="Authors">
            {%- for author in page.authors -%}
            {{ author }}{%- if not loop.last -%}, {% endif -%}
            {%- endfor -%}
        </li>
        {%- elif config.author and config.extra.show_default_author %}
        <li role="separator" aria-hidden="true">::</li>
        <li title="Author">{{ config.author }}</li>
        {%- endif %}

        {% if not hide_reading_time %}
        <li role="separator" aria-hidden="true">::</li>
        {%- set reading_time = page.reading_time ~ " min" | replace(from="0 min", to="<1 min") -%}
        {%- set word_count = [page.word_count ~ " word", page.word_count | pluralize] | join %}
        <li title="{{ word_count }}"><time datetime="PT{{ page.reading_time }}M">{{ reading_time }}</time> read</li>
        {% endif %}
    </ul>
</header>
{% endcomponent post.header %}

{% component post.date(value: string) %}
<time datetime="{{ value }}">{{ value | date(format="%Y.%m.%d") }}</time>
{% endcomponent post.date %}